@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ProjecteSOS_Grup03WebPage.Pages.Employees.StockManagerModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "StockManagerTitle";
    var token = HttpContext.Session.GetString("AuthToken");
    var userRoles = Tools.TokenHelper.GetUserRoles(token).ToList();
    bool isEmployee = userRoles.Contains("Employee") || userRoles.Contains("Admin");
}

<h2>@SharedLocalizer["StockManagerHeader"]</h2>

@if (!isEmployee)
{
	<p>@SharedLocalizer["NotAuthorizedMessage"]</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>@SharedLocalizer["NameLabel"]</th>
                <th>@SharedLocalizer["Description"]</th>
                <th>@SharedLocalizer["Image"]</th>
                <th>@SharedLocalizer["Price"]</th>
                <th></th>
                    <th></th>
                    <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model.Products)
            {
                <tr>
                    <td>@prod.Name</td>
                    <td>@prod.Description</td>
                    <td>@prod.Image</td>
                    <td>@prod.Price</td>
                    <td>
                        <a asp-page="../Products/Details" asp-route-id="@prod.ProductId" class="btn btn-info">@SharedLocalizer["Details"]</a>
                    </td>
                        <td>
                            <a asp-page="../Products/Edit" asp-route-id="@prod.ProductId" class="btn btn-primary">@SharedLocalizer["EditButton"]</a>
                        </td>
                        <td>
                        <form method="post" asp-page="../Products/Delete" asp-route-id="@prod.ProductId">
                                <button type="submit" class="btn btn-danger">@SharedLocalizer["Delete"]</button>
                            </form>
                        </td>
                </tr>
            }
        </tbody>
    </table>
}
