@page
@model ProjecteSOS_Grup03WebPage.Pages.Products.CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ProjecteSOS_Grup03WebPage
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = SharedLocalizer["CreateProductTitle"];
	var token = HttpContext.Session.GetString("AuthToken");
	var userRoles = Tools.TokenHelper.GetUserRoles(token).ToList();
	bool isEmployee = userRoles.Contains("Employee") || userRoles.Contains("Admin");
}

<h2>@SharedLocalizer["AddProductHeader"]</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (isEmployee)
{
    <form method="post">
        <div>
        <div class="mb-3">
            <label asp-for="NewProduct.Name">@SharedLocalizer["ProductNameLabel"]</label>
            <input asp-for="NewProduct.Name" class="form-control" />
            <span asp-validation-for="NewProduct.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewProduct.Description">@SharedLocalizer["ProductDescriptionLabel"]</label>
            <input asp-for="NewProduct.Description" class="form-control" />
            <span asp-validation-for="NewProduct.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewProduct.Image">@SharedLocalizer["ProductImageLabel"]</label>
            <input asp-for="NewProduct.Image" class="form-control" />
            <span asp-validation-for="NewProduct.Image" class="text-danger"></span>
        </div
        <div class="mb-3">
            <label asp-for="NewProduct.Stock">@SharedLocalizer["ProductStockLabel"]</label>
            <input asp-for="NewProduct.Stock" class="form-control" />
            <span asp-validation-for="NewProduct.Stock" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewProduct.Points">Punts</label>
            <input asp-for="NewProduct.Points" class="form-control" />
            <span asp-validation-for="NewProduct.Points" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewProduct.Price">@SharedLocalizer["ProductPriceLabel"]</label>
            <input asp-for="NewProduct.Price" class="form-control" />
            <span asp-validation-for="NewProduct.Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@SharedLocalizer["AddButton"]</button>
        </div>
    </form>
}
else
{
	<div class="alert alert-danger">@SharedLocalizer["EmployeesOnlyAddProduct"]</div>
}