@page
@model ProjecteSOS_Grup03WebPage.Pages.Products.DetailsModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ProjecteSOS_Grup03WebPage
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = SharedLocalizer["ProductDetailsTitle"];
	var product = Model.Product;
}

@if (product != null) { <h2>@product.Name</h2> }

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (product != null)
{
	<div>
		<img src="@product.Image" alt="@product.Name" width="500" />
	</div>
	<div>
		<h4>@SharedLocalizer["ProductDescriptionLabel"]</h4>
		<p>@product.Description</p>
	</div>
	<div>
		<h4>@SharedLocalizer["ProductsStockLabel"]</h4>
		<p>@product.Stock</p>
	</div>
	<div>
		<h4>@SharedLocalizer["ProductPriceLabel"]</h4>
		<p>@product.Price</p>
	</div>
	<div>
		<a asp-page="AddToCart" asp-route-id="@product.ProductId" class="btn btn-secondary">Afegir al carret</a>
	</div>
}
else
{
	<p>@SharedLocalizer["ProductNotFound"]</p>
}

<a asp-page="List" class="btn btn-secondary">@SharedLocalizer["BackButton"]</a>