@page "{id:int}"
@model ProjecteSOS_Grup03WebPage.Pages.Products.EditModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ProjecteSOS_Grup03WebPage
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = SharedLocalizer["EditProductTitle"];
	var token = HttpContext.Session.GetString("AuthToken");
	var userRoles = Tools.TokenHelper.GetUserRoles(token).ToList();
	bool isEmployee = userRoles.Contains("Employee") || userRoles.Contains("Admin");
}

<h2>@SharedLocalizer["EditProductHeader"]</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (isEmployee)
{
	@if (Model.Product != null)
    {
		<form method="post">
			<div>
			<div class="mb-3">
				<label asp-for="Product.Name">@SharedLocalizer["ProductNameLabel"]</label>
				<input asp-for="Product.Name" class="form-control" />
				<span asp-validation-for="Product.Name" class="text-danger"></span>
			</div
			<div class="mb-3">
				<label asp-for="Product.Description">@SharedLocalizer["ProductDescriptionLabel"]</label>
				<input asp-for="Product.Description" class="form-control" />
				<span asp-validation-for="Product.Description" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Product.Image">@SharedLocalizer["ProductImageLabel"]</label>
				<input asp-for="Product.Image" class="form-control" />
				<span asp-validation-for="Product.Image" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Product.Stock">@SharedLocalizer["ProductStockLabel"]</label>
				<input asp-for="Product.Stock" class="form-control" />
				<span asp-validation-for="Product.Stock" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Product.Points">@SharedLocalizer["ProductPointsLabel"]</label>
				<input asp-for="Product.Points" class="form-control" />
				<span asp-validation-for="Product.Points" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Product.Price">@SharedLocalizer["ProductPriceLabel"]</label>
				<input asp-for="Product.Price" class="form-control" />
				<span asp-validation-for="Product.Price" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">@SharedLocalizer["SaveButton"]</button>
			<a asp-page="List" class="btn btn-secondary">@SharedLocalizer["CancelButton"]</a>
			</div>
		</form>
    }
    else
    {
        <div class="alert alert-danger">@SharedLocalizer["ProductIsNull"]</div>
    }
}
else
{
    <div class="alert alert-danger">@SharedLocalizer["EmployeesOnlyEditProduct"]</div>
}