@page
@model ProjecteSOS_Grup03WebPage.Pages.Products.ProductsListModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ProjecteSOS_Grup03WebPage
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["ProductsPageTitle"];
    var token = HttpContext.Session.GetString("AuthToken");
    var userRoles = Tools.TokenHelper.GetUserRoles(token).ToList();
    bool isEmployee = userRoles.Contains("Employee") || userRoles.Contains("Admin");
}

<h2>@SharedLocalizer["ProductsPageTitle"]</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (isEmployee)
{
    <a class="btn btn-primary" asp-page=".\Create">@SharedLocalizer["AddProductButton"]</a>
}

@if (Model.Products.Any())
{
    <table class="table_normal">
        <thead>
            <tr>
                <th>@SharedLocalizer["NameLabel"]</th>
                <th>@SharedLocalizer["Description"]</th>
                <th>@SharedLocalizer["Image"]</th>
                <th>@SharedLocalizer["Price"]</th>
                <th></th>
                @if (isEmployee)
                {
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model.Products)
            {
                <tr>
                    <td>@prod.Name</td>
                    <td>@prod.Description</td>
                    <td>@prod.Image</td>
                    <td>@prod.Price</td>
                    <td>
                        <a asp-page="Details" asp-route-id="@prod.ProductId" class="btn">@SharedLocalizer["Details"]</a>
                    </td>
                    @if (isEmployee)
                    {
                        <td>
                            <a asp-page="Edit" asp-route-id="@prod.ProductId" class="btn">@SharedLocalizer["EditButton"]</a>
                        </td>
                        <td>
                            <form method="post" asp-page="Delete" asp-route-id="@prod.ProductId">
                                <button type="submit" class="btn btn-danger">@SharedLocalizer["Delete"]</button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">@SharedLocalizer["NoProductsAvailable"]</div>
}