@page
@model ProjecteSOS_Grup03WebPage.Pages.Orders.OrderListModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ProjecteSOS_Grup03WebPage
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = SharedLocalizer["MyOrdersPageTitle"];
	var token = HttpContext.Session.GetString("AuthToken");
}

<h2>@SharedLocalizer["MyOrdersPageTitle"]</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (Model.Orders.Count > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>@SharedLocalizer["OrderProductName"]</th>
				<th>@SharedLocalizer["OrderQuantity"]</th>
				<th>@SharedLocalizer["OrderDate"]</th>
				<th>@SharedLocalizer["OrderTotalPrice"]</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var order in Model.Orders)
			{
				<tr>
					<td>@order.ProductName</td>
					<td>@order.Quantity</td>
					<td>@order.OrderDate</td>
					<td>@order.TotalPrice</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		<form method="post" asp-page="OrderConfirm">
			<button type="submit" class="btn btn-primary">@SharedLocalizer["ConfirmOrderButton"]</button>
		</form>
	</div>
}
else
{
	<p>@SharedLocalizer["OrderIsEmpty"]</p>
	@if(!Model.OrderExists)
	{
		<div>
			<form method="post" asp-page="CreateOrder">
				<button type="submit" class="btn btn-primary">@SharedLocalizer["CreateNewOrderButton"]</button>
			</form>
		</div>
	}
}