@page
@model ProjecteSOS_Grup03WebPage.Pages.Profile.UserOrdersModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = SharedLocalizer["UserOrdersPageTitle"];
	var token = HttpContext.Session.GetString("AuthToken");
	var loggedIn = Tools.TokenHelper.IsTokenSession(token);
}

<h2>@SharedLocalizer["UserOrdersHeader"]</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (loggedIn)
{
	@if (Model.Orders.Count > 0)
	{
		<table class="table">
			<thead>
				<tr>
					<th>@SharedLocalizer["OrderDateLabel"]</th>
					<th>@SharedLocalizer["OrderTotalPriceLabel"]</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var order in Model.Orders)
				{
					<tr>
						<td>@order.OrderDate</td>
						<td>@Math.Round(order.Price, 2)</td>
						<td>
							<a asp-page="../Orders/Details" asp-route-id="@order.OrderId" class="btn btn-info">@SharedLocalizer["OrderDetailsTitle"]</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>@SharedLocalizer["NoOrdersAvailable"]</p>
	}
}
else
{
	<div class="alert alert-danger">@SharedLocalizer["LoginToViewUserOrders"]</div>
}