@page
@model ErrorModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["ErrorPageTitle"];
}

<h1 class="text-danger">@SharedLocalizer["ErrorPageTitle"]</h1>
<h2 class="text-danger">@SharedLocalizer["ErrorOccurred"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@SharedLocalizer["RequestId"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@SharedLocalizer["DevelopmentMode"]</h3>
<p>
    @Html.Raw(SharedLocalizer["DevelopmentModeSwapping"])
</p>
<p>
    <strong>@SharedLocalizer["DevelopmentModeWarningStrong"]</strong>
    @Html.Raw(SharedLocalizer["DevelopmentModeWarningText"])
</p>
