@page
@model ProjecteSOS_Grup03WebPage.Pages.ProfileModel
@using ProjecteSOS_Grup03WebPage
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = SharedLocalizer["UserProfileTitle"];
	var token = HttpContext.Session.GetString("AuthToken");
	var loggedIn = Tools.TokenHelper.IsTokenSession(token);
	var userRoles = Tools.TokenHelper.GetUserRoles(token).ToList();
	bool isEmployee = userRoles.Contains("Employee") || userRoles.Contains("Admin");
}

<h2>@SharedLocalizer["ProfileHeader"]</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (loggedIn)
{
	@if (Model.Profile != null)
	{
		<div>
			<h4>@SharedLocalizer["NameLabel"]</h4>
			@if (!string.IsNullOrEmpty(Model.Profile.Name))
			{
				<p>@Model.Profile.Name</p>
			}
		</div>
		@if (Model.Profile.IsAdmin != null && isEmployee)
		{
			<div>
				<h4>@SharedLocalizer["Role"]</h4>
				@if ((bool)Model.Profile.IsAdmin)
				{
					<p>@SharedLocalizer["RoleAdmin"]</p>
				}
				else
				{
					<p>@SharedLocalizer["RoleEmployee"]</p>
				}
			</div>
		}
		<div>
			<h4>@SharedLocalizer["EmailLabel"]</h4>
			@if (!string.IsNullOrEmpty(Model.Profile.Email))
			{
				<p>@Model.Profile.Email</p>
			}
		</div>
		<div>
			<h4>@SharedLocalizer["PhoneLabel"]</h4>
			@if (!string.IsNullOrEmpty(Model.Profile.Phone))
			{
				<p>@Model.Profile.Phone</p>
			}
		</div>
		@if (!isEmployee)
		{
			<div>
				<h4>@SharedLocalizer["Points"]</h4>
				@if (Model.Profile.Points != null)
				{
					<p>@Model.Profile.Points</p>
				}
			</div>
		}
		else
		{
			<div>
				<h4>@SharedLocalizer["StartDate"]</h4>
				@if (Model.Profile.StartDate != null)
				{
					<p>@Model.Profile.StartDate</p>
				}
			</div>
		}
		<div>
			<a class="btn btn-primary" asp-page="/Profile/Edit">@SharedLocalizer["EditButton"]</a>
			<a class="btn btn-primary" asp-page="/Profile/ChangePassword">@SharedLocalizer["ChangePassword"]</a>
			<a class="btn btn-primary" asp-page="/Profile/UserOrders">@SharedLocalizer["UserOrders"]</a>
			<form method="post" asp-page="/Profile/DeleteAccount">
				<button type="submit" class="btn btn-danger">@SharedLocalizer["DeleteAccount"]</button>
			</form>
		</div>
	}
	else
	{
		<div class="alert alert-danger">@SharedLocalizer["ProfileIsNull"]</div>
	}
}
else
{
	<div class="alert alert-danger">@SharedLocalizer["LoginToViewProfile"]</div>
}