@page
@model ProjecteSOS_Grup03WebPage.Pages.RegisterModel
@using ProjecteSOS_Grup03WebPage
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
	ViewData["Title"] = SharedLocalizer["RegisterTitle"];
}
<h2>@SharedLocalizer["RegisterHeader"]</h2>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
<form method="post">
    <div class="form-group">
        <label asp-for="Register.Email">@SharedLocalizer["EmailLabel"]</label>
        <input asp-for="Register.Email" class="form-control" />
        <span asp-validation-for="Register.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Register.Password">@SharedLocalizer["PasswordLabel"]</label>
        <input type="password" asp-for="Register.Password" class="form-control" />
        <span asp-validation-for="Register.Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Register.Name">@SharedLocalizer["NameLabel"]</label>
        <input asp-for="Register.Name" class="form-control" />
        <span asp-validation-for="Register.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Register.Phone">@SharedLocalizer["PhoneLabel"]</label>
        <input asp-for="Register.Phone" class="form-control" />
        <span asp-validation-for="Register.Phone" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">@SharedLocalizer["RegisterButton"]</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}